:root {
    --container-bg-color: #333;
    --hover-width: 60%;
    --other-width: 40%;
    --speed: 1000ms;
    --light: #ffffff;
    --sky: #7f9cf5;
    --purple: #97266d;
    --dark: #81899b;
  }
  
  html, body {
  
    padding:10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

  }
  
  .container {
    position: relative;
    width: 100%;
    height: 215%;
    background: var(--container-bg-color);
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left:0;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }
  
  .split.right {
    right:0;
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  @media (min-width: 851px) 
  {
    .lucky-b
    {
      display: none;
    }
    .lucky-c
    {
      display: none;
    }
    .lucky-d
    {
      display: none;
    }
    .lucky-e
    {
      display: none;
    }
    .lucky-f
    {
      display: none;
    }
    .lucky-g
    {
      display: none;
    }
    .lucky-h
    {
      display: none;
    }
    .lucky-i
    {
      display: none;
    }
    .lucky-j
    {
      display: none;
    }
  }
  @media (max-width: 850px) {
    
      h3.khus-u
      {
        display:none;
        
      }
      div.khus-w
      {
        display: none;
      }
      h3.khus-b
      {
        display:none;
        
      }
      div.khus-c
      {
        display: none;
      }
      h3.khus-e
      {
        display:none;
        
      }
      div.khus-f
      {
        display: none;
      }
      h3.khus-k
      {
        display:none;
        
      }
      div.khus-l
      {
        display: none;
      }
      h3.khus-n
      {
        display:none;
        
      }
      div.khus-o
      {
        display: none;
      }
      h3.khus-q
      {
        display:none;
        
      }
      div.khus-r
      {
        display: none;
      }
      div.khus-a
      {
        position:relative;
        top:4px;
      }
      div.khus-d
      {
        position:relative;
        top:8px;
      }
      h2.khus-g
      {
        position:relative;
        top:12px;
      }
      div.khus-j
      {
        position:relative;
        top:16px;
      }
      div.khus-m
      {
        position:relative;
        top:20px;
      }
      div.khus-p
      {
        position:relative;
        top:24px;
      }
      div.luck-a
      {
        display:none;
      }
      div.luck-c
      {
        display:none;
      }
      div.luck-e
      {
        display:none;
      }
      div.luck-b
      {
        position:relative;
        top:5px;
      }
      div.luck-d
      {
        position:relative;
        top:15px;
      }
      div.luck-y
      {
        position:relative;
        top:25px;
      }
    }
  @media (min-width: 751px)
  {
    .lucky-a
    {
      display: none;
    }
  }
 
  @media (max-width: 750px) {
    .profile-item {
      right :90px;
      position: relative;
    display:flex;
    }
    .do-i{
      
      position:relative;
      right :140px;
      
    }
    div.prin-i
    {
      display: none;
      
    }

  }
  .theme-switches {
    display: flex;
    justify-content: center;
  }
  
  .switch {
    border: 2px solid black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
  }
  .switch:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
  }
  
  #switch-1 {
    background-color: var(--light);
  }
  
  #switch-2 {
    background-color: var(--sky);
  }
  
  #switch-3 {
    background-color: var(--purple);
  }
  
  #switch-4 {
    background-color: var(--dark);
  }
  .profile-item {
    margin-left: 11rem;
    position: relative;
    display:flex;
  }

  .profile-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    display:flex;
  }
  h1,h2,h3{
    font-family: 'Raleway', sans-serif;
  }
  h1{
    margin-left: 1.5rem;
  }
  .dom-i{
    margin-left: 1.5rem;
  }
  .do-i{
    margin-left: 15rem;
  }
  .prin-i{
  margin-left: 3rem;
  }
  .khus-i{
    font-size: 4.5rem;
    margin-left: 2rem;
    bottom:5px;
    position: relative;
  }
  .khus-u{
    margin-left: 18rem;
    bottom:110px;
    position: relative;
    display:flex;

  }
  .khus-w{
    margin-left: 18rem;
    bottom:120px;
    position: relative;
  }
  .khus-a{
    font-size: 4.5rem;
    position: relative;
    margin-left: 3rem;
    bottom:105px;
  }
  .khus-b{
    margin-left: 18rem;
    bottom:205px;
    position: relative;

  }
  .khus-c{
    margin-left: 18rem;
    bottom:215px;
    position: relative;
  }
  .khus-d{
    font-size: 4.5rem;
    position: relative;
    margin-left: 2.5rem;
    bottom:180px;
  }
  .khus-e{
    margin-left: 18rem;
    bottom:280px;
    position: relative;

  }
  .khus-f{
    margin-left: 18rem;
    bottom:290px;
    position: relative;
  }
  .khus-g{
    bottom:270px;
    position: relative;
  }
  .khus-j{
    font-size: 4.5rem;
    position: relative;
    margin-left: 2.5rem;
    bottom:280px;
  }
  .khus-k{
    margin-left: 18rem;
    bottom:380px;
    position: relative;

  }
  .khus-l{
    margin-left: 18rem;
    bottom:390px;
    position: relative;
  }
  .khus-m{
    font-size: 4.5rem;
    position: relative;
    margin-left: 2.5rem;
    bottom:380px;
  }
  .khus-n{
    margin-left: 18rem;
    bottom:480px;
    position: relative;

  }
  .khus-o{
    margin-left: 18rem;
    bottom:490px;
    position: relative;
  }
  .khus-p{
    font-size: 4.5rem;
    position: relative;
    margin-left: 2.5rem;
    bottom:480px;
  }
  .khus-q{
    margin-left: 18rem;
    bottom:580px;
    position: relative;

  }
  .khus-r{
    margin-left: 18rem;
    bottom:590px;
    position: relative;
  }
  .luck-a{
    margin-left: 18rem;
    bottom:50px;
    position: relative;
  }
  .luck-b{
    bottom:40px;
    position: relative;
  }
  .luck-c{
    margin-left: 18rem;
    bottom:90px;
    position: relative;
  }
  .luck-d{
    bottom:80px;
    position: relative;
  }
  .luck-e{
    margin-left: 18rem;
    bottom:130px;
    position: relative;
  }
  .luck-y{
    bottom:130px;
    position: relative;
  }
  .luck-z{
        position: relative;
  }
  a:link{
    color:aliceblue
  }
  a:hover{
    color:rgb(155, 242, 213)
  }
  a:visited{
    color:rgb(236, 203, 174)
  }
  a:active{
    color:rgb(100, 146, 146)
  }